.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: #304438;
}

.btn {
    padding: 12px 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0%;
    transition: all ease-in;
}
.btn-brand {
background-color: #074520;
color: #FFF;
}

.btn-brand:hover {
    border: 2px solid #304438;
}

.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #304438;
    text-transform: uppercase;
}

#banner {
    background: url(sugarcane.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #ecebf1;
}

#banner p{
    font-size: 20px;
    color: #080813;
}

section{
    padding: 100px 0 ;
}

.card-image-top {
    width: 40%;
}

.card {
    border-radius: 0;
    margin-top: 20px;
    border: 3px solid #1c1919;
    padding: 20px;

}

.card .card-title {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
#Rannille h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

#about .ngee{
    height: 80vh;
    background: url(100.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#about .eyyy{
    padding: 100px;
}
#about h2, #about h4 {
    font-family: 'Times New Roman', Times, serif;
}
#about {
    background-color: WHITE;
}

.testimonial {
    border: 4px solid #222722;
    padding: 20px;
    margin-top: 20px;
}

.testimonial img {
    width: 75px;
    border-radius: 50%;
}

#FAQ {
    background: #222722;
}

#FAQ h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.FAQ-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 0% !important;
}

.accordion-button {
    background-color: #ecebf1;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0% !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #080813;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.accordion-body {
    border-left: 3px solid #080813;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #1c1919;

}

.accordion-button:not(.collapsed){
    background-color: #0d3b1f;
    color: #120553;

}

.accordion-button:hover {
    background-color: #080813;
    color: #fff;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #3f1111;
}

#footer ul.list-unstyled li a {
    color: #120553;
    text-decoration: none;
}

footer ul.list-unstyled li:hover a {
    color: rgb(10, 10, 11);
}
@media screen and (max-width: 767px){
    h1 {
        font-size: 40px;
    }
    #shesssh h2 {
        font-size: 20px;
    }
    #shesssh .col-lg-3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    #about .eyyy{
        padding: 100px;
}

}
  #about {
    overflow-x:hidden;
  }